.ReactModal {
	&__Overlay {
		position: fixed;
		z-index: 10000;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		border: solid 1px #979797;
		justify-content: center;

		&--after-open {
			overflow: auto;
		}
	}

	&__Content {
		position: relative;
		margin: auto;
		display: flex;
		align-items: center;
		width: 95%;
		max-width: 1220px;

		+below($phones) {
			width: 100%;
			max-width: 100%;
			// height: 100%;
		}
	}

	&__Body--open {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
}
