section.about-city
	.wrap
		.about-cities__title О Санкт-Петербурге
		.about-city__grid
			.about-city__content
				.about-city__buttons
					a.about-city__btn.is-active(href="#" js-gorod-tab) О городе
					a.about-city__btn(href="#" js-gorod-tab) О доходах
					a.about-city__btn(href="#" js-gorod-tab) Особенности
				.about-city__tabs.gorod-carousel
					.about-city__tab.is-active
						.about-city__title Исторический город Петербург
						.about-city__info Санкт-Петербург — один из самых красивых городов Европы, культурная столица России, а также важнейший экономический и транспортный центр страны с населением более 5 миллионов человек.
						.about-city__info Город расположен недалеко от Москвы и европейских стран — Финляндии, Эстонии, Латвии и Литвы. Петербург богат историческими зданиями, памятниками, музеями, парками и другими объектами архитектуры и культуры.
						.about-city__bold Самая недорогая квартира в Санкт-Петербурге стоит 1  800 000 руб. 1
						.about-city__info Санкт-Петербург - чистый с точки зрения экологии город. Здесь находится большое количество парков и садов. Реки и каналы делают его привлекательным не только для туристов, но и для жителей города, которые мечтают о приятном отдыхе недалеко от дома. Средняя зарплата в Санкт-Петербурге достигает 40 тысяч руб., средняя стоимость квадратного метра недвижимости равняется 75 тысяч руб., а аренда квартир — около 30 тысяч руб.
					.about-city__tab
						.about-city__title Исторический город Петербург 2
						.about-city__info Санкт-Петербург — один из самых красивых городов Европы, культурная столица России, а также важнейший экономический и транспортный центр страны с населением более 5 миллионов человек.
						.about-city__info Город расположен недалеко от Москвы и европейских стран — Финляндии, Эстонии, Латвии и Литвы. Петербург богат историческими зданиями, памятниками, музеями, парками и другими объектами архитектуры и культуры.
						.about-city__bold Самая недорогая квартира в Санкт-Петербурге стоит 1  800 000 руб. 2
						.about-city__info Санкт-Петербург - чистый с точки зрения экологии город. Здесь находится большое количество парков и садов. Реки и каналы делают его привлекательным не только для туристов, но и для жителей города, которые мечтают о приятном отдыхе недалеко от дома. Средняя зарплата в Санкт-Петербурге достигает 40 тысяч руб., средняя стоимость квадратного метра недвижимости равняется 75 тысяч руб., а аренда квартир — около 30 тысяч руб.
					.about-city__tab
						.about-city__title Исторический город Петербург 3
						.about-city__info Санкт-Петербург — один из самых красивых городов Европы, культурная столица России, а также важнейший экономический и транспортный центр страны с населением более 5 миллионов человек.
						.about-city__info Город расположен недалеко от Москвы и европейских стран — Финляндии, Эстонии, Латвии и Литвы. Петербург богат историческими зданиями, памятниками, музеями, парками и другими объектами архитектуры и культуры.
						.about-city__bold Самая недорогая квартира в Санкт-Петербурге стоит 1  800 000 руб. 3
						.about-city__info Санкт-Петербург - чистый с точки зрения экологии город. Здесь находится большое количество парков и садов. Реки и каналы делают его привлекательным не только для туристов, но и для жителей города, которые мечтают о приятном отдыхе недалеко от дома. Средняя зарплата в Санкт-Петербурге достигает 40 тысяч руб., средняя стоимость квадратного метра недвижимости равняется 75 тысяч руб., а аренда квартир — около 30 тысяч руб.
				.about-city__swipe
					p Листайте текст влево
					p.pagingInfo 1/3
			.about-city__right
				.about-city__detail
					.about-city__detail-head
						.about-city__icon
							img(src="images/spb.png", alt="")
						.about-city__stat Статистика города
					ul.city__properties
						li.property
							span.title Население:
							span.value более 5 млн.
						li.property
							span.title Средний доход:
							span.value 40 тыс. руб.
						li.property
							span.title Экологичность:
							span.value эко районы
						li.property
							span.title Средняя цена за кв.м:
							span.value 15 тыс. руб.
						li.property
							span.title Парки:
							span.value более 200
						li.property
							span.title Торговые центры:
							span.value 330
