- var items = [];
- items.push({img: 'how-it-works-feature-1@2x.png', title: 'Самая большая и актуальная база новостроек', text: 'Десятки городов России собраны в единую базу. Попробуйте подбор по параметрам, выбирайте и сравнивайте. Мы знаем о регионах очень много: от средней зарплаты до стоимости конкретной квартиры. Для вашего удобства мы создали два уникальных инструмента: поиск города на карте и помощник с подбором города. ', list: ['Постоянный сбор и обновление базы квартир', 'Предложение напрямую от застройщиков', 'Все варианты новостроек на одном сайте']})
- items.push({img: 'how-it-works-feature-2@2x.png', title: 'Инструменты', text: 'На Domoos вам доступен невероятно продвинутый инструментарий поиска и подбора квартиры в любом регионе России. Сравнивайте между собой города, новостройки, квартиры и районы. Можете быть уверены, что в базу попали только те компании, которым можно доверять.', list: ['Постоянный сбор и обновление базы квартир', 'Предложение напрямую от застройщиков', 'Все варианты новостроек на одном сайте']})
- items.push({img: 'how-it-works-feature-3@2x.png', title: 'Удобные фильтры', text: 'Каталог новостроек. На одной странице собраны все жилые комплексы России от проверенных застройщиков. Воспользуйтесь удобным фильтром, чтобы подобрать тот дом, который вам больше всего подходит в любом регионе страны. ', list: ['Постоянный сбор и обновление базы квартир', 'Предложение напрямую от застройщиков', 'Все варианты новостроек на одном сайте']})

section.how-it-works
	.wrap
		.how-it-works__title Как работает сервис
		.how-it-works__content
			each item in items
				.feature
					.feature__image
						img.feature__image(src='/images/#{item.img}')
					.feature__content
						.feature__title= item.title
						.feature__text= item.text
							ul.feature__list
								each feature in item.list
									li
										span= feature
