.help {
	&__image {
		margin-right: 48px;
		width: 17%;
		max-width: 180px;
		font-size: 0;
		flex: 1 0 17%;

		+below($tablet) {
			display: none;
		}

		+below($phones) {
			margin-right: 0;
			display: block;
			width: 100%;
			max-width: 100%;
			text-align: center;
			flex: 1 0 100%;
		}
	}

	&__personal-manager {
		margin-top: auto;
		margin-bottom: auto;
		width: 100%;
		height: auto;

		+below($phones) {
			margin-right: auto;
			margin-bottom: 13px;
			margin-left: auto;
			width: 108px;
			height: 108px;
		}
	}

	&__content {
		margin: 0 15px;
		padding: 56px 40px 51px 48px;
		display: flex;
		block();
		flex-wrap: nowrap;

		+below($tablet) {
			padding: 35px 30px;
		}

		+below($phones) {
			margin: 0;
			margin-top: 49px;
			margin-bottom: 35px;
			padding: 30px 15px 39px;
			flex-wrap: wrap;
			width: 100%;
			max-width: 100%;
		}
	}

	&__description {
		margin-right: 35px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		max-width: 570px;
		align-content: center;

		+below($notebooks) {
			max-width: 350px;
		}

		+below($tablet) {
			margin-right: 20px;
		}

		+below($phones) {
			margin: 0 auto;
			max-width: 440px;
		}
	}

	&__title {
		width: 100%;
		max-width: 270px;
		font-size: 2.2rem;
		text-align: left;
		color: var(--title-color);

		+below($phones) {
			margin-bottom: 0;
			max-width: 100%;
			font-size: 2.2rem;
			text-align: left;
		}
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 89%;
		text-align: left;
		align-content: center;

		+below($phones) {
			margin: 0 auto;
			width: 100%;
			max-width: 440px;
			text-align: left;
		}
	}

	&__text {
		text();
		margin-top: 16px;
		margin-bottom: 0;
		max-width: 350px;
		font-size: 1.3rem;
		line-height: 1.7;

		+below($phones) {
			margin-top: 8px;
			margin-bottom: 20px;
			max-width: 100%;
		}

		span {
			+below($phones) {
				display: none;
			}
		}
	}

	.home-help-form {
		text-align: left;
	}

	.hotcall__submit {
		padding: 0 10px;
		display: inline-block;
		width: 100%;
		max-width: 140px;
	}
}
