:root {
	--text-font: 'Gotham Pro', Georgia, serif;
	--text-color: #9a9eac;
	--title-color: #343434;
	--caption-color: #343434;
	--border-color: #dae0ed;
	--bg-color: #fff;
	--blue: #4796fa;
	--blue--hover: #4796fa - 20%;
	--blue--active: #4796fa - 40%;
	--yellow: #ffd72b;
	--yellow-light: #fffaec;
	--arrow-color: rgba(71, 140, 227, .65);
	--gray: #dae0ed;
	--gray-light: #aeb2c2;
	--red: red;
}
