.wrap {
	margin: 0 auto;
	width: 100%;
	max-width 1280px;
	padding: 0 15px;

	+below($phones) {
		padding: 0;
		max-width: 100%;
		overflow: hidden;
	}

	// +above($iphones + 1px) {
	// 	padding: 0;
	// 	max-width: 320px;
	// }

	// +above($notebooks) {
	// 	padding: 0 12px;
	// 	max-width: 1164px;
	// }

	// +above($desktop) {
	// 	padding: 0 12px;
	// 	max-width: 1220px;
	// }

	// +above($desktop-hq) {
	// 	padding: 0 12px;
	// 	max-width: 1460px;
	// }
}

.block {
	background-color: #ffffff;
	box-shadow: 0 0 25px 0 rgba(218, 224, 237, .74);
}

.dropdown {
	position: relative;
	display: inline-block;

	&__menu {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		visibility: hidden;
		opacity: 0;
		t();
	}

	&:hover {
		& > ul {
			margin-top: 0;
			visibility: visible;
			opacity: 1;
		}
	}
}

.accordion {
	position: relative;
	display: inline-block;
	width: 100%;

	input {
		display: none;
	}

	&__menu {
		overflow: hidden;
		max-height: 0;
		transition: max-height .35s;
	}

	&__label {
		cursor: pointer;
	}

	input:checked ~ .accordion__menu {
		max-height: 100vh;
	}
}

.btn {
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	t();

	&__full {
		margin-left: 25px;
		padding: 2px 58px 0;

		+below($phones) {
			margin-top: 20px;
			margin-left: 0;
			padding: 2px 25px 0;
			width: 100%;
		}

		// +above($notebooks) {
		// 	margin-top: 0;
		// 	margin-left: 12px;
		// 	width: auto;
		// }

		// +above($desktop) {
		// 	margin-left: 25px;
		// 	padding: 2px 58px 0;
		// }

		&--yellow {
			color: var(--caption-color);
			background-color: var(--yellow);

			&:hover {
				color: var(--caption-color);
				background-color: #f6c51a;
			}

			&:active {
				color: var(--caption-color);
				background-color: #e3bc38;
			}
		}
	}

	&__ghost {
		&--white {
		}

		&--black {
			border: 1px solid var(--border-color);
		}
	}
}

.add-to-cart {
	position: absolute;
	z-index: 100;
	top: 15px;
	right: 15px;
	display: flex;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 2px;

	&:before {
		pseudo();
		margin: auto;
		width: 18px;
		height: 16px;
		background-image: url('/images/heart@2x.png');
		background-repeat: no-repeat;
		background-size: cover;
	}

	&.added, &:hover {
		&:before {
			background-image: url('/images/heart-added@2x.png');
		}
	}
}

.premium-checked {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 13px 12px 10px;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1em;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--blue);
	border-radius: 2px;

	&:before {
		margin-right: 7px;
		content: '★';
		color: #fff;
	}
}

.default-close {
	cross();
	position: absolute;
	z-index: 10000;
	top: 25px;
	width: 25px;
	height: 25px;

	+above($mobile) {
		right: 25px;
	}

	+above($notebooks) {
		right: 40px;
	}

	+above($desktop) {
		right: 25px;
	}
}

.Alert {
	width: 100%;
	margin: 0 auto;
	padding: 15px;

	&__wrapper {
		background: var(--bg-color);
		box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}

	&__header {
		position: relative;
	}
	&__title {
		color: var(--title-color);
	}
	&__illustration {
		position: absolute;
		left: 0;
		top: 0;
		background-position: 0 0;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&__body {
		font-size: 1.4rem;
		margin-top: 2rem;
	}
	&__actions {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.2rem;

		* {
			cursor: pointer;
		}
	}
	&__footer {

	}

	+below($phones) {
		max-width: 420px;

		&__wrapper {
			padding: 20px 15px;
		}
		&__header,
		&__body,
		&__actions {
			padding-left: 38px;
		}
		&__illustration {
			width: 22px;
			height: 28px;
		}
		&__title {
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
		&__actions {
			margin-right: -20px;
			* {
				display: inline-block;
				margin: 15px 20px 0 0;
			}
		}
	}
	+above($phones) {
		max-width: 480px;

		&__wrapper {
			padding: 30px;
		}
		&__header,
		&__body,
		&__actions {
			padding-left: 90px;
		}
		&__illustration {
			width: 62px;
			height: 72px;
		}
		&__title {
			font-size: 2.2rem;
			line-height: 3.2rem;
		}
		&__actions {
			margin-right: -30px;
			* {
				margin: 20px 30px 0 0;
			}
		}
	}
}

.Modal {
	width: 100%;
	margin: 0 auto;
	max-width: 540px;

	&.Modal--wide {
		max-width: 1110px;
	}
	&.Modal--responsive {
		max-width: initial;
	}

	&__wrapper {
		position: relative;
		background: var(--bg-color);
		box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		cursor: pointer;

		&--icon {
			cross();
			&:before,
			&:after {
				height: 2px;
			}
		}
		&:hover {
			.Modal__close--icon {
				opacity: 1;
			}
		}
	}
	&__header {

	}
	&__title {
		color: var(--title-color);
	}
	&__body {
		font-size: 1.4rem;
	}
	&__footer {
		margin-top: 20px;
		font-size: 1.2rem;

		&--agreement {

		}
	}
	&__form {
		display: flex;
		flex-direction: column;

		input[type="text"],
		textarea {
			display: block;
			width: 100%;
			padding: 15px;
			line-height: 20px;
			background-color: #f3f5f9;
			border: 1px solid #dae0ed;
			t();

			&:focus {
				background-color: #fff;
			}
		}
		&--textfield {}
		&--select {
			position: relative;
			align-self: stretch;
			&:after {
				pseudo();
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -4px;
				width: 6px;
				height: 6px;
				border-right: 1px solid var(--text-color);
				border-bottom: 1px solid var(--text-color);
				transform: rotate(45deg);
				z-index: 10;
			}
			input[type="text"] {
				padding-right: 40px;
			}
		}
		&--submit {
			@extend .btn;
			@extend .btn__full;
			@extend .btn__full--yellow;
			margin: 0;
			line-height: 50px;
		}
	}

	+below($phones) {
		&__wrapper {
			padding: 50px 15px;
		}
		&__title {
			font-size: 2rem;
			line-height: 3rem;
		}
		&__close {
			padding: 20px 20px 20px 0;
			&--icon {
				width: 18px;
				height: 18px;
			}
		}
		&__form {

			&--textfield,
			&--select,
			&--textarea {
				margin-top: 20px;
			}
			&--submit {
				margin: 25px 0 0;
			}
		}
	}

	+above($phones) {
		padding: 15px;

		&__wrapper {
			padding: 70px 90px;
		}
		&__title {
			font-size: 2.2rem;
			line-height: 3.2rem;
			font-weight: 500;
		}
		&__close {
			padding: 26px 26px 26px 0;
			&--icon {
				width: 24px;
				height: 24px;
			}
		}
		&__form {
			&--textfield,
			&--select,
			&--textarea {
				margin-top: 25px;
			}
			&--submit {
				align-self: flex-start;
				width: auto;
				padding: 0 30px;
				margin: 30px 0 0;
			}
		}
	}
}
