.developer-ad {
	display: flex;
    align-items: center;

	&__logo {
		width: 42px;
		height: 42px;
		margin-right: 18px;
		float: right;
	}

	&__title {
		font-size: 1.6rem;
		line-height: 1em;
	}
}
