.country-map {
	position: relative;
	min-height: 100vh;

	.to-category {
		position: absolute;
		z-index: 1000;
		top: 30px;
		right: 30px;
		padding: 20px 25px 18px;
		font-size: 1.3rem;
		line-height: 1em;
		block();
	}
}
