.hotcall {
	width: 100%;

	&__title--number, &__title--form {
		margin-bottom: 8px;
		font-size: 1.3rem;
		line-height: 1.6;
		color: var(--title-color);
	}

	&__phone {
		font-size: 2.3rem;
		line-height: 1em;
		color: var(--blue);

		+below($phones) {
			font-size: 2.2rem;
		}
	}

	&__content {
		margin-top: 30px;
		display: block;

		+below($phones) {
			display: none;
		}
	}

	&__form {
		position relative;
		display: flex;
		justify-content: flex-start;
		.ui-input__validation{
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			color: tomato;
			font-size 12px;
			text-align: left;
		}
	}

	&__popup-form {
		display: none;

		+below($phones) {
			margin-top: 4px;
			display: block;
		}
	}
}
