.hotcall {
	width: 100%;

	&__title--number, &__title--form {
		margin-bottom: 8px;
		font-size: 1.4rem;
		line-height: 1.6;
		color: var(--title-color);
	}

	&__phone {
		line-height: 1em;
		color: var(--blue);

		+above($mobile) {
			font-size: 2.2rem;
		}

		+above($notebooks) {
			font-size: 3rem;
		}
	}

	&__content {
		margin-top: 30px;

		+above($mobile) {
			display: none;
		}

		+above($notebooks) {
			display: block;
		}
	}

	&__form {
		display: flex;
		justify-content: flex-start;
	}

	&__popup-form {
		+above($mobile) {
			margin-top: 10px;
			display: block;
		}

		+above($notebooks) {
			display: none;
		}
	}
}
