aside.featured-housing
	.wrap
		a.featured-housing__banner(href="#")
			.featured-housing__banner-bg--mobile(href="#", style={'background-image': 'url("/images/housing-banner-mobile.png");'})
			.featured-housing__banner-bg--desktop(href="#", style={'background-image': 'url("/images/housing-banner-desktop.png");'})
			.featured-housing__banner-logo--housing(style={'background-image': 'url("/images/logo-cds.png");'})
			.featured-housing__banner-content
				.featured-housing__banner-title ЖК «Futurist»
				.featured-housing__banner-description Видовые квартиры на Петровском острове
			.featured-housing__banner-logo--domoos Domoos
