section.comments
	.wrap
		.comments__block
			.comments__title Обсуждение городов
			.comments__item
				.comments__head
					.comments__image
						img(src="images/face.png", alt="")
					.comments__head-info
						p.comments__name Анастасия К.
						p.comments__date 16.08.2018
				.comments__info
					p Здравствуйте! Мы живём в Видном всю жизнь, всё устраивает в Москву переезжать уже не будем) Давно уже искали новую квартиру. Подбирали, смотрели все новостройки которые в Видном строят. Выбор есть, но конечно не вот чтобы уж очень большой. Эко Видное 2.0 самый оптимальный комплекс. мы считаем. Застройщик надёжный, даже не сомневались когда выбирали квартиру что стройка остановится или какие-нибудь проблемы возникнут. Понравилось что комплекс комфорт-класса.
			.comments__item
				.comments__head
					.comments__image
						img(src="images/face.png", alt="")
					.comments__head-info
						p.comments__name Вадим
						p.comments__date 16.08.2018
				.comments__info
					p Выбрали данный комплекс, т.к. портфолио застройщика внушало доверие. Много проектов, все реализованы. Не боимся, что стройка встанет — а это ведь самое страшное. Также понравилось, что комплекс комфорт-класса и много зелени вокруг, при этом есть и школы, и магазины рядом.
			.comments__item
				.comments__head
					.comments__image
						img(src="images/face.png", alt="")
					.comments__head-info
						p.comments__name Елизавета
						p.comments__date 16.08.2018
				.comments__info
					p Выбрали данный комплекс, т.к. портфолио застройщика внушало доверие. Много проектов, все реализованы. Не боимся, что стройка встанет — а это ведь самое страшное. Также понравилось, что комплекс комфорт-класса и много зелени вокруг, при этом есть и школы, и магазины рядом.
