extends /blocks/layout/layout

block head
	- var pageTitle = 'Тестовая формы';

block header
	- var isСity = true;

block content
	include /blocks/header/header

	div(style="margin: 50px 0")
		.wrap
			+hotcall('tester')
			+hotcall('tester2')
			include /blocks/help-podbor/help-podbor
