extends /blocks/layout/layout

block head
	- var pageTitle = 'Город';

block header
	- var isСity = true;

block content
	include /blocks/header/header
	include /blocks/about-cities/about-cities
	//- include /blocks/all-cities/all-cities
	//- include /blocks/your-opinion/your-opinion
	//- include /blocks/comments/comments
	include /blocks/our-services/our-services
	include /blocks/about-cities/about-cities
	include /blocks/gorod-bottom/gorod-bottom
	include /blocks/other/other
