extends /blocks/layout/layout

block head
	- var pageTitle = 'Все застройщики';

block header
	- var isDevelopers = true;

block content
	include /blocks/header/header
	include /blocks/featured-partners-list/featured-partners-list
	include /blocks/premium-partnership-offer/premium-partnership-offer
	include /blocks/featured-housing-banner/featured-housing-banner
	include /blocks/all-partners-list/all-partners-list
