section.premium-partnership
	.wrap
		.premium-partnership__offer
			.premium-partnership__icon(style={'background-image': 'url("/images/premium-partnership-icon-1.png")'})
			.premium-partnership__content
				.premium-partnership__content--title Узнайте про премиальное размещение для застройщиков и агенств
				.premium-partnership__content--description Вы можете довериться профессионала. Всю работу по подбору, бронированию и оформлению возьмут на себя специалисты центра новостроек. Это совершенно бесплатная и очень популярная услуга.
			.btn.btn__ghost--black.premium-partnership__button--submit + Добавить компанию
