aside.featured-developer
	.wrap
		a.featured-developer__banner(href="#")
			.featured-developer__banner-bg--mobile(href="#", style={'background-image': 'url("/images/developer-banner-mobile.png");'})
			.featured-developer__banner-bg--desktop(href="#", style={'background-image': 'url("/images/developer-banner-desktop.png");'})
			.featured-developer__banner-logo--developer(style={'background-image': 'url("/images/logo-cds.png");'})
			.featured-developer__banner-content
				.featured-developer__banner-title ЖК «Futurist»
				.featured-developer__banner-description Видовые квартиры на Петровском острове
			.featured-developer__banner-logo--domoos Domoos
