.other {
	padding-bottom: 95px;
	background-color: transparent;

	+below($phones) {
		padding-bottom: 45px;
		background-color: rgb(241, 244, 250, .7);
	}

	&__content {
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		+below($phones) {
			padding: 0 15px;
		}
	}

	.item {
		position: relative;
		width: 29%;
		padding-right: 20px
		// outline: 1px solid red;

		+below($phones) {
			padding-top: 30px;
			width: 100%;
		}

		&:before {
			position: absolute;
			top: 0;
			right: -14px;
			width: 1px;
			height: 100%;
			background-color: var(--border-color);
			pseudo();

			+below($phones) {
				background-color: transparent;
			}
		}

		&:last-child {
			&:before {
				display: none;
			}
		}

		&__title {
			h4();
			margin-bottom: 5px;
			width: 100%;
			max-width: 350px;
		}

		&__text {
			text();
			margin-bottom: 20px;
			width: 100%;
			max-width: 350px;
		}

		&__link {
			&:after {
				arrow(2px, 1px, var(--arrow-color), 45deg);
				margin-left: 12px;
			}
		}
	}
}
