.benefits {
	padding-top: 55px;
	padding-bottom: 30px;
	overflow: hidden;

	+below($phones) {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.45;
		color: var(--title-color);

		+above($phones) {
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 1.4;
		}
	}

	&__title {
		// padding-top: 8px;
		display: flex;
		align-items: center;
		max-width: 250px;

		+below($phones) {
			max-width: 285px;
		}
	}

	&__text {
		max-width: 285px;
		max-height: 74px;

		+below($phones) {
			max-width: 100%;
		}
	}

	&__text {
		text();
	}

	&__list {
		padding: 0;

		+below($phones) {
			padding: 0 0 0 8px;
		}

		.slick-slide {
			position: relative;

			+below($phones) {
				left: 86px;
			}
		}

		.not-real-carousel {
			+above($phones) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}
	}

	&__item {
		margin-top: 15px;
		margin-right: 0;
		margin-bottom: 55px;
		margin-left: 0;
		padding: 0;
		display: flex;
		align-items: center;
		width: 49%;
		max-width: 540px;
		un-block();

		+below($phones) {
			margin-right: 10px;
			margin-left: 10px;

			padding: 25px 15px;
			width: 100%;
			block();
		}
	}

	&__content {
		overflow: hidden;
	}

	&__img {
		margin-right: 30px;
		float: left;

		&--payment {
			svgSize($payment);
		}

		&--mobileuser {
			svgSize($mobileuser);
		}

		&--browser {
			svgSize($browser);
		}

		&--buildings {
			svgSize($buildings);
		}

		+below($phones) {
			margin: 0 0 15px;
			float: none;
			width: 120px;
			height: 120px;
		}
	}

	.slick-slider {

		// left: -10px;
		// margin: 0;
		// width: calc(100% + 35px);
	}
}
