.benefits {
	overflow: hidden;

	+above($mobile) {
		padding-top: 30px;
	}

	+above($notebooks) {
		padding-top: 80px;
	}

	&__title {
		margin-bottom: 10px;
		color: var(--title-color);

		+above($mobile) {
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 1.4;
		}

		+above($notebooks) {
			font-size: 2.2rem;
			font-weight: 500;
			line-height: 1.4;
		}
	}

	&__title, &__text {
		+above($mobile) {
			max-width: 285px;
		}

		+above($desktop) {
			max-width: 450px;
		}
	}

	&__text {
		text();
	}

	&__list {
		+above($mobile) {
			padding: 0;
		}

		+above($notebooks) {
			padding: 0 15px;
		}

		.slick-slide {
			position: relative;

			+above($mobile) {
				left: 128px;
			}
		}

		.not-real-carousel {
			+above($notebooks) {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	&__item {
		margin-top: 15px;

		+above($mobile) {
			margin-right: 10px;
			margin-bottom: 45px;
			margin-left: 10px;
			padding: 30px 15px;
			block();
		}

		+above($notebooks) {
			margin-right: 0;
			margin-bottom: 90px;
			margin-left: 0;
			padding: 0;
			width: 50%;
			un-block();
		}
	}

	&__content {
		overflow: hidden;
	}

	&__img {
		+above($mobile) {
			margin: 0 0 15px;
			float: none;
			width: 120px;
			height: 120px;
		}

		+above($notebooks) {
			margin-top: -20px;
			margin-right: 35px;
			float: left;

			&--payment {
				svgSize($payment);
			}

			&--mobileuser {
				svgSize($mobileuser);
			}

			&--browser {
				svgSize($browser);
			}

			&--buildings {
				svgSize($buildings);
			}
		}
	}
}
