.benefits {
	padding-top: 55px;
	padding-bottom: 30px;
	overflow: hidden;

	.wrap {
		padding: 0 30px;
		+below($phones) {
			padding: 0;
		}
	}

	+below($phones) {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.45;
		color: var(--title-color);

		+below($phones) {
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 1.4;
		}
	}

	&__title {
		// padding-top: 8px;
		display: flex;
		align-items: center;
		max-width: 250px;

		+below($phones) {
			line-height: 1.75;
		}
	}

	&__text {
		max-width: 285px;
		max-height: 74px;
		text();

		+below($phones) {
			max-width: 100%;
			line-height: 1.9;
		}
	}

	// &__text {
	// text();
	// }
	&__list {
		padding: 0;

		+below($phones) {
			// padding: 0 0 0 5px;
			padding: 0;
		}

		.slick-slide {
			position: relative;
		}

		.not-real-carousel {
			+above($phones) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}
	}

	&__item {
		margin-top: 15px;
		margin-right: 0;
		margin-bottom: 55px;
		margin-left: 0;
		padding: 0;
		display: flex;
		align-items: center;
		width: 49%;
		max-width: 540px;
		un-block();

		+below($phones) {
			margin-right: 20px;
			margin-left: 0;
			padding: 25px 15px;
			width: 100%;
			max-width: 100%;
			min-height: 362px;
			block();
		}
	}

	&__content {
		overflow: hidden;
	}

	&__img {
		margin-right: 30px;
		float: left;

		&--payment {
			svgSize($payment);
		}

		&--mobileuser {
			svgSize($mobileuser);
		}

		&--browser {
			svgSize($browser);
		}

		&--buildings {
			svgSize($buildings);
		}

		+below($phones) {
			margin: 0 0 10px;
			float: none;
			width: 120px;
			height: 120px;
			font-size: 1.2rem;
		}
	}

	.slick-slider {
		+below($phones) {
			left: 0;
			overflow: visible;
			width: calc(77.7% + 11px);
		}
	}

	.slick-list {
		+below($phones) {
			overflow: visible;
		}
	}
}
