- var benefits = []
- benefits.push({ image: "payment", title: 'Вы платите только за целевых', text: 'Уникальная услуга для агентств недвижимости и строительных компаний. Горячие клиенты на покупку в вашем регионе от 500 рублей. Вы оплачиваете только реальных клиентов, готовых работать с вашей компанией.' })
- benefits.push({ image: "mobileuser", title: 'Любой объем трафика', text: 'Уникальная услуга для агентств недвижимости и строительных компаний. Горячие клиенты на покупку в вашем регионе от 500 рублей. Вы оплачиваете только реальных клиентов, готовых работать с вашей компанией.' })
- benefits.push({ image: "browser", title: 'Отлаженная система передачи заявок', text: 'Уникальная услуга для агентств недвижимости и строительных компаний. Горячие клиенты на покупку в вашем регионе от 500 рублей. Вы оплачиваете только реальных клиентов, готовых работать с вашей компанией.' })
- benefits.push({ image: "buildings", title: 'Работаем во многих регионах', text: 'Уникальная услуга для агентств недвижимости и строительных компаний. Горячие клиенты на покупку в вашем регионе от 500 рублей. Вы оплачиваете только реальных клиентов, готовых работать с вашей компанией.' })

section.benefits
	.wrap
		.benefits__list
			.not-real-carousel
				each benefit in benefits
					.benefits__item
						+icon(benefit.image, true)(class='benefits__img benefits__img--#{benefit.image}')
						.benefits__content
							.benefits__title= benefit.title
							.benefits__text= benefit.text
