section.gorod-popular
	.wrap
		.gorod-popular__block
			.about-cities__title Популярные новостройки
			.about-cities__description Город расположен недалеко от Москвы и европейских стран — Финляндии, Эстонии, Латвии и Литвы. Петербург богат историческими зданиями, памятниками, музеями, парками и другими объектами архитектуры и культуры.
			// React - <> FeaturedBuildings </> component
			// data-slug is required to get corresponding list of buildings
			#featured-buildings(data-slug="barnaul")

			//- .gorod-popular__head
			//- 	.gorod-popular__buttons
			//- 		.gorod-popular__overlay
			//- 			.gorod-popular__scroll
			//- 				a.gorod-popular__btn.is-active(href="#" js-buildings-tab) Под ключ
			//- 				a.gorod-popular__btn(href="#" js-buildings-tab) Сданные
			//- 				a.gorod-popular__btn(href="#" js-buildings-tab) Недорогие
			//- 				a.gorod-popular__btn(href="#" js-buildings-tab) Элитные
			//- 	.gorod-popular__links
			//- 		a.gorod-popular__see-map(href="#")
			//- 			.icon
			//- 				+icon('pin-blue', true).icon.icon__pin
			//- 			| Смотреть на карте
			//- 		a.gorod-popular__all-new(href="#") Все новостройки
			//- .gorod-popular__content
			//- 	.gorod-popular__tab.is-active
			//- 		.gorod-popular__grid.mobile-gorod-carousel
			//- 			.building.premium
			//- 	.gorod-popular__tab
			//- 		.gorod-popular__grid.mobile-gorod-carousel
			//- 			.building.premium
