section.gorod-popular
	.wrap
		.gorod-popular__block
			.about-cities__title Популярные новостройки
			.about-cities__description Город расположен недалеко от Москвы и европейских стран — Финляндии, Эстонии, Латвии и Литвы. Петербург богат историческими зданиями, памятниками, музеями, парками и другими объектами архитектуры и культуры.
			.gorod-popular__head
				.gorod-popular__buttons
					.gorod-popular__overlay
						.gorod-popular__scroll
							a.gorod-popular__btn.is-active(href="#" js-buildings-tab) Под ключ
							a.gorod-popular__btn(href="#" js-buildings-tab) Сданные
							a.gorod-popular__btn(href="#" js-buildings-tab) Недорогие
							a.gorod-popular__btn(href="#" js-buildings-tab) Элитные
				.gorod-popular__links
					a.gorod-popular__see-map(href="#")
						.icon
							+icon('pin-blue', true).icon.icon__pin
						| Смотреть на карте
					a.gorod-popular__all-new(href="#") Все новостройки
			.gorod-popular__content
				.gorod-popular__tab.is-active
					.gorod-popular__grid.mobile-gorod-carousel
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-na-kirochnoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом на Кирочной 1»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-u-ratushi.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом у ратуши»
							.building__content
								.building__features
									.feature элит-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zimaleto.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ЗимаЛето»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красногвардейский район
								.building__subway.false
									span м. Ладожская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/na-torfyanoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ArtLine в Приморском»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature под ключ
									.feature Сдача: IV 2020
								.building__district
									span Приморский район
								.building__subway.false
									span м. Старая деревня
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/greenlandiya-2.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «GREENЛАНДИЯ 2»
							.building__content
								.building__features
									.feature эконом-класс
									.feature чистовая
									.feature Сдача: I 2019, II 2019, IV 2019
								.building__district
									span Всеволожский район
								.building__subway.false
									span м. Девяткино
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zhk-more.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «MORE»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красносельский район
								.building__subway.empty
									span м. Девяткино
				.gorod-popular__tab
					.gorod-popular__grid.mobile-gorod-carousel
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-na-kirochnoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом на Кирочной 2»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-u-ratushi.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом у ратуши»
							.building__content
								.building__features
									.feature элит-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zimaleto.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ЗимаЛето»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красногвардейский район
								.building__subway.false
									span м. Ладожская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/na-torfyanoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ArtLine в Приморском»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature под ключ
									.feature Сдача: IV 2020
								.building__district
									span Приморский район
								.building__subway.false
									span м. Старая деревня
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/greenlandiya-2.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «GREENЛАНДИЯ 2»
							.building__content
								.building__features
									.feature эконом-класс
									.feature чистовая
									.feature Сдача: I 2019, II 2019, IV 2019
								.building__district
									span Всеволожский район
								.building__subway.false
									span м. Девяткино
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zhk-more.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «MORE»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красносельский район
								.building__subway.empty
									span м. Девяткино
				.gorod-popular__tab
					.gorod-popular__grid.mobile-gorod-carousel
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-na-kirochnoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом на Кирочной 3»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-u-ratushi.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом у ратуши»
							.building__content
								.building__features
									.feature элит-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zimaleto.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ЗимаЛето»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красногвардейский район
								.building__subway.false
									span м. Ладожская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/na-torfyanoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ArtLine в Приморском»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature под ключ
									.feature Сдача: IV 2020
								.building__district
									span Приморский район
								.building__subway.false
									span м. Старая деревня
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/greenlandiya-2.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «GREENЛАНДИЯ 2»
							.building__content
								.building__features
									.feature эконом-класс
									.feature чистовая
									.feature Сдача: I 2019, II 2019, IV 2019
								.building__district
									span Всеволожский район
								.building__subway.false
									span м. Девяткино
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zhk-more.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «MORE»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красносельский район
								.building__subway.empty
									span м. Девяткино
				.gorod-popular__tab
					.gorod-popular__grid.mobile-gorod-carousel
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-na-kirochnoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом на Кирочной 4»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/dom-u-ratushi.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «Дом у ратуши»
							.building__content
								.building__features
									.feature элит-класс
									.feature черновая
									.feature Сдача: сдан
								.building__district
									span Центральный район
								.building__subway.false
									span м. Чернышевская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zimaleto.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ЗимаЛето»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красногвардейский район
								.building__subway.false
									span м. Ладожская
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/na-torfyanoy.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «ArtLine в Приморском»
							.building__content
								.building__features
									.feature комфорт-класс
									.feature под ключ
									.feature Сдача: IV 2020
								.building__district
									span Приморский район
								.building__subway.false
									span м. Старая деревня
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/greenlandiya-2.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «GREENЛАНДИЯ 2»
							.building__content
								.building__features
									.feature эконом-класс
									.feature чистовая
									.feature Сдача: I 2019, II 2019, IV 2019
								.building__district
									span Всеволожский район
								.building__subway.false
									span м. Девяткино
						.building.premium
							.add-to-cart
							.building__image
								a.building__featured(style='background-image: url("https://domoos.ru/images/novostroyki/peterburg/estates/zhk-more.jpg");')
								.premium-checked Провереннная
								a.building__view(href='#') Быстрый просмотр
							.building__header
								a.building__title.building__title--developer Застройщик «Setl City»
								a.building__title.building__title--building «MORE»
							.building__content
								.building__features
									.feature бизнес-класс
									.feature чистовая
									.feature Сдача: сдан
								.building__district
									span Красносельский район
								.building__subway.empty
									span м. Девяткино
