.builders {
	padding-top: 90px;

	+below($phones) {
		padding-top: 45px;
	}

	.developer {
		background: #fff;
	}

	.to-category-link {
		margin: auto 0 0 auto;
		font-size: 1.6rem;
		white-space: nowrap;

		&:after {
			arrow(2px, 1px, var(--arrow-color), 45deg);
			margin-left: 12px;
		}

		+below($tablet) {
			margin-top: 5px;
			margin-right: 0;
			margin-left: auto;
			font-size: 1.2rem;
		}

		+below($phones) {
			position: absolute;
			left: 15px;
			bottom: 0;
			margin-top: 10px;
			margin-right: auto;
			margin-left: 0;
			width: 100%;
		}
	}

	.wrap {
		position: relative;

		+below($phones) {
			padding-bottom: 25px;
		}
	}

	.slick-slider {
		// left: -10px;
		// width: 100;
		+below($phones) {
			left: 0;
			overflow: visible;
			width: calc(77.7% + 11px);
		}
	}

	.slick-arrow.slick-prev {
		left: -16px;
	}

	.slick-arrow.slick-next {
		right: -16px;
	}

	.slick-list {
		// padding-top: 30px;
		padding: 30px 15px 0;

		+below($phones) {
			left: -10px;
			padding: 0;
			overflow: visible !important;
		}
	}

	.CityExplorer__content {
		+below($phones) {
			padding-left: 15px;
			// margin: 0;
			// padding: 0 15px;
			width: 100%;
		}

		.developer__features .feature span {
			+below($phones) {
				white-space: normal;
			}
		}
	}
}
