section.builders
	.wrap
		.about-cities__header
			.about-cities__title Застройщики
			.about-cities__description Все строительные компании Санкт-Петербурга на одном сайте. Выбирайте из списка надежных застройщиков.
			a.to-category-link(href="#") Все застройщики
		.CityExplorer__content
			.carousel-builders
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/cds.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span ГК «ЦДС»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 2 380 000 руб.
						.feature(data-id='1') На рынке c 2000 года
						.feature(data-id='2') недорогие
						.feature(data-id='3') Объектов в продаже: 16
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/lsr.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span Группа «ЛСР»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 2 030 000 руб.
						.feature(data-id='1') На рынке c 1994 года
						.feature(data-id='2') элит-класс
						.feature(data-id='3') Объектов в продаже: 20
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/legenda.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span СК «LEGENDA Development»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 4 280 000 руб.
						.feature(data-id='1') На рынке c 2010 года
						.feature(data-id='2') премиум-класс
						.feature(data-id='3') Объектов в продаже: 6
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/setl-city.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span «Setl City»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 2 900 000 руб.
						.feature(data-id='1') На рынке c 1994 года
						.feature(data-id='2') бизнес-класс
						.feature(data-id='3') Объектов в продаже: 29
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/lider-grupp.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span ГК «Лидер Групп»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 1 950 000 руб.
						.feature(data-id='1') На рынке c 1992 года
						.feature(data-id='2') комфорт-класс
						.feature(data-id='3') Объектов в продаже: 16
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/polis-grupp.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span ГК «Полис групп»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 2 610 000 руб.
						.feature(data-id='1') На рынке c 2010 года
						.feature(data-id='2') эконом-класс
						.feature(data-id='3') Объектов в продаже: 5
				.developer
					.developer__logo(style='background-image: url("https://domoos.ru/images/zastroyshchiki/peterburg/cds.jpg"), url("/images/domoos-dummy.png");')
					.developer__title
						span ГК «ЦДС»
					.developer__features
						.feature(data-id='0')
							| Квартиры
							span от 2 380 000 руб.
						.feature(data-id='1') На рынке c 2000 года
						.feature(data-id='2') недорогие
						.feature(data-id='3') Объектов в продаже: 16
