.header {
	position: relative;
	z-index: 10000;
	padding-bottom: 80px;
	min-height: 670px;
	background-image: url('/images/bg-main.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	+below($tablet) {
		min-height: 1px;
	}

	+below($phones) {
		padding-bottom: 40px;
	}

	&__content {
		padding: 0 15px;
	}

	&__top {
		position: relative;
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 55px;

		+below($phones) {
			padding: 0;
		}

		&:before {
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			width: calc(100% - 30px);
			height: 1px;
			content: '';
			background-color: rgba(255, 255, 255, .2);

			+below($phones) {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}

	&__bottom {
		padding: 0 15px;
		display: flex;

		+below($phones) {
			display: none;
		}

		.to-home {
			position: relative;
			bottom: -24px;
			opacity: .5;

			&:hover {
				opacity: 1;
			}

			.icon {
				margin-right: 30px;

				+below($tablet) {
					margin-right: 20px;
				}

				&__home {
					svgSize($home);
				}
			}
		}

		.developer-ad {
			position: relative;
			bottom: -13px;
			margin-left: auto;
			color: #fff;

			&__title {
				position: relative;
				bottom: -2px;

				+below($tablet) {
					font-size: 1.4rem;
				}
			}
		}
	}

	&__title {
		margin-top: 104px;
		margin-bottom: 20px;
		letter-spacing: .6px;
		color: #fff;

		+below($tablet) {
			margin-top: 75px;
		}

		+below($phones) {
			margin-top: 58px;
			margin-bottom: 18px;
			line-height: 1.35;
		}
	}

	&__description {
		max-width: 720px;
		min-height: 155px;
		font-size: 1.7rem;
		line-height: 1.7;
		color: #fff;

		+below($tablet) {
			max-width: 600px;
			font-size: 1.55rem;
			line-height: 1.6;
		}

		+below($phones) {
			font-size: 1.4rem;
			line-height: 1.6;

			span {
				display: none;
			}
		}
	}

	&__cta {
		.btn {
			margin-left: 0;
			line-height: 55px;
		}
	}

	&__city-select {
		margin-top: 48px;

		+below($phones) {
			margin-top: 38px;
		}

		.city-select {
			&__title {
				margin-bottom: 16px;
				display: block;
				max-width: 100%;
				font-size: 1.4rem;

				span {
					display: none;
				}

				+below($phones) {
					margin-bottom: 7px;
					max-width: 210px;
					font-size: 0;

					span {
						display: block;
						font-size: 1.1rem;
					}
				}
			}

			.Suggest {
				width: 100%;
				max-width: 450px;

				+below($phones) {
					max-width: 100%;
				}
			}

			.btn {
				line-height: 52px;

				+below($phones) {
					line-height: 55px;
				}
			}
		}
	}

	.logo {
		z-index: 100;
		padding: 0 13px;
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		font-weight: 700;
		color: #fff;
		background-color: var(--blue);

		&:hover {
			background-color: var(--blue--hover);
		}

		&:active {
			background-color: var(--blue--active);
		}

		+below($phones) {
			padding: 19px 14px;
			display: inline-block;
			font-size: 1.6rem;
		}
	}

	.nav {
		display: flex;

		&__link {
			margin-top: 27px;
			margin-right: 41px;
			font-size: 1.4rem;
			color: rgba(255, 255, 255, 1);

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: rgba(255, 255, 255, .5);
			}

			+below($tablet) {
				margin-right: 25px;
				font-size: 1.2rem;
			}
		}

		.dropdown {
			top: 26px;
			height: 1em;

			+below($tablet) {
				top: 23px;
			}

			&__handler {
				margin-right: 36px;
				font-size: 1.4rem;
				color: #fff;
				background-color: transparent;

				+below($tablet) {
					margin-right: 22px;
					font-size: 1.2rem;
				}

				&:hover {
					color: var(--text-color);
				}

				&:after {
					arrow(2px, 1px, #fff, 135deg);
					margin-bottom: 3px;
					margin-left: 13px;
					opacity: .6;

					+below($tablet) {
						top: 1px;
						right: 5px;
					}
				}
			}

			&__menu {
				top: 35px;
				padding: 14px 20px;
				min-width: 200px;
				background-color: #fff;
				box-shadow: 0 2px 5px 0 rgba(140, 140, 140, .3);
			}

			&__link {
				font-size: 1.4rem;
				line-height: 3.6rem;
				color: var(--text-color);

				&:hover {
					color: var(--blue);
				}
			}
		}
	}

	.menu {
		margin-left: auto;
		display: flex;

		+below($phones) {
			margin-top: -3px;
			padding-right: 4px;
		}

		&__item {
			display: flex;
			align-items: center;
			align-content: center;
			t();
			margin-left: 30px;

			&:hover {
				.menu {
					&__title {
						opacity: .7;
					}
				}

				&:before {
					border-color: rgba(255, 255, 255, .7);
				}

				.icon {
					opacity: .7;
				}

				.Cart__label {
					opacity: .7;
				}
			}

			+below($phones) {
				margin-left: 20px;
			}

			&--about {
				position: relative;

				// display: none;
				&:before {
					pseudo();
					position: absolute;
					left: -5px;
					margin-top: -1px;
					width: 20px;
					height: 20px;
					border: 1px solid var(--border-color);
					border-radius: 50%;
				}

				+below($mobile) {
					display: none;
				}
			}

			&--burger {
				margin-right: 0;
				display: none;

				+below($phones) {
					margin-right: 10px;
					display: flex;
				}
			}

			&--cart {
				+below($phones) {
					margin-right: -10px;
				}
			}

			.icon {
				position: relative;
				top: -1px;
				width: 40px;
				height: 40px;
				t();

				// margin-right: 10px;
				+below($phones) {
					margin-right: 0;
				}

				&__like {
					margin-right: 9px;
					width: 20px;
					height: 20px;
					fill: #dae0ed;
				}

				&__question {
					margin-right: 14px;
					width: 12px;
					height: 10px;
					fill: #dae0ed;
				}

				&__phone {
					display: none;
					width: 20px;
					height: 20px;

					+below($phones) {
						display: block;
						width: 21px;
						height: 21px;
					}
				}

				&__burger {
					width: 24px;
					height: 21px;
				}
			}
		}

		&__title {
			font-size: 1.2rem;
			white-space: nowrap;
			color: rgba(255, 255, 255, 1);

			+below($phones) {
				font-size: 0;
			}

			&--phone {
				position: relative;
				bottom: -1px;
				font-weight: 700;
			}
		}
	}

	&__sticky {
		block();
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		t();

		&.fixed {
			z-index: 100000;
			opacity: 1;
		}

		.wrap {
			display: flex;
		}

		.logo {
			margin-right: 35px;
			margin-left: 15px;
			font-size: 2rem;
			line-height: 1em;

			+below($phones) {
				margin-left: 0;
				font-size: 1.6rem;
				line-height: 1.4;
			}

			+below($tablet) {
				margin-right: 20px;
			}
		}

		.nav {
			position: relative;
			bottom: -2px;
			display: flex;

			+below($tablet) {
				display: none;
			}

			&__link {
				margin-top: 27px;
				color: var(--gray-light);

				&:last-child {
					margin-right: 20px;
				}

				&:hover {
					color: var(--title-color);
				}
			}

			&__item {
				min-height: 75px;
			}

			.dropdown {
				&__handler {
					color: var(--gray-light);

					&:hover {
						color: var(--title-color);
					}

					&:after {
						border-color: var(--gray-light);
					}
				}
			}
		}

		.menu {
			padding-right: 15px;

			+below($phones) {
				padding-right: 0;
			}

			.Cart {
				&__counter {
					top: 24px;
					left: 21px;

					+below($phones) {
						top: 15px;
					}
				}

				&__items {
					top: 75px;
					right: 0;
				}

				&__label {
					display: none;
				}
			}

			.icon {
				padding: 10px;
				width: 40px;
				height: 40px;
				cursor: pointer;
				border: 1px solid var(--border-color);

				&__question, &__like {
					margin: 0;
				}

				&__phone {
					+below($notebooks) {
						display: flex;
					}

					+below($phones) {
						display: block;
					}
				}
			}

			&__item {
				margin-left: 15px;
				display: flex;
				align-items: center;
				justify-content: center;

				+below($phones) {
					margin-left: 10px;
				}

				&:hover {
					.icon {
						background-color: rgba(68, 68, 68, .4);
						border: 1px solid transparent;
					}

					&.menu {
						&__title {
							color: var(--text-color);
						}

						&__item {
							&--login, &--choose-city {
								background-color: rgba(68, 68, 68, .4);
								border: 1px solid transparent;

								span {
									color: var(--border-color);
								}
							}
						}
					}
				}

				&--about {
					display: flex;

					+below($phones) {
						display: none;
					}

					&:before {
						display: none;
					}
				}

				&--burger {
					display: none;

					+below($tablet) {
						display: flex;
					}

					+below($phones) {
						margin-right: 15px;
					}
				}

				&--login, &--choose-city {
					position: relative;
					top: -1px;
					margin: auto 0;
					margin-left: 15px;
					padding: 0 12px;
					display: none;
					height: 40px;
					border: 1px solid var(--border-color);

					// +above($desktop-hq) {
					// display: block;
					// }
					.menu {
						&__title {
							font-size: 1.4rem;
							line-height: 4rem;
						}
					}
				}
			}

			&__title {
				font-size: 0;
				line-height: 75px;
				color: var(--gray-light);

				&--phone {
					position: relative;
					bottom: -2px;
					margin-right: 10px;
					display: block;
					font-size: 1.6rem;
					font-weight: normal;
					color: var(--title-color);

					+below($notebooks) {
						display: none;
					}
				}
			}
		}
	}

	&.goroda-na-karte {
		padding-bottom: 25px;
		min-height: auto;
		background-color: #fff;
		background-image: none;
		box-shadow: 0 2px 15px rgba(218, 224, 237, .7);

		+below($phones) {
			padding-bottom: 0;
		}

		.header {
			&__top {
				&:before {
					// display: none;
					background-color: #e7ebf4;
					+below($phones) {
						display: none;
					}
				}

				.menu {
					&__link {
						color: var(--gray-light);
					}
				}
			}

			&__bottom {
				.nav {
					&__link {
						color: var(--gray-light);

						&:hover {
							color: var(--title-color);
						}
					}

					.dropdown {
						&__handler {
							color: var(--gray-light);

							&:after {
								border-color: var(--gray-light);
							}

							&:hover {
								color: var(--title-color);

								&:after {
									border-color: var(--title-color);
								}
							}
						}
					}
				}
			}
		}

		.developer-ad {
			&__title {
				color: var(--title-color);
			}
		}

		.menu {
			&__item {
				&--about {
					&:before {
						// display: none;
						border-color: #dae0ed;
					}
				}

				&:hover {
					.Cart__label, .menu__title {
						color: var(--title-color);
					}
				}
			}

			&__title {
				color: var(--text-color);
			}
		}

		.Cart {
			&__label {
				color: var(--text-color);

				&:hover {
					color: var(--title-color);
				}
			}
		}
	}

	&.goroda {
		min-height: 540px;
		background-image: url('/images/bg-main-cities.jpg');

		+below($phones) {
			min-height: auto;
		}

		.header__title {
			margin-top: 87px;

			+below($phones) {
				margin-top: 83px;
			}
		}

		.header__description {
			min-height: 1px;
		}

		.header__cta .btn {
			margin-top: 67px;

			+below($phones) {
				margin-top: 96px;
			}
		}
	}
}
