- var navigation = [{ title: 'Все города', href: '/goroda.html', isDropdown: false, }, { title: 'Города на карте', href: '/goroda-na-karte.html', isDropdown: false }, { title: 'Услуги', href: '#', isDropdown: true, data: [{href:'/', title: 'Переезд'}, {href:'/', title: 'Переезд'}, {href:'/', title: 'Подбор'}]}, { title: 'Все агенства', href: '#', isDropdown: false }, { title: 'Все застройщики', href: '#', isDropdown: false }];

- var navigationFixed = [{ title: 'Застройщики', href: '#', isDropdown: false, }, { title: 'Районы', href: '#', isDropdown: false }, { title: 'Другие', href: '#', isDropdown: true, data: [{href:'/', title: 'Новостройки'}, {href:'/', title: 'Все агенства'}, {href:'/', title: 'Квартиры'}, {href:'/', title: 'Статьи'},]}];

block header

section.header(class=isMap ? 'goroda-na-karte' : isСities ? 'goroda' : '' style=isСities ? "background-image: url('/images/bg-main-cities.jpg')" : isMap ? 'background-color: #fff;' : "background-image: url('/images/bg-main.jpg')")
	if isСities
		span.mobile-bg(style="background-image: url('/images/bg-main-cities-mobile.jpg')")
	.header__sticky.sticky
		.wrap
			a.logo(href="/") Domoos
			.nav
				each item in navigationFixed
					if item.isDropdown
						.nav__item
							+dropdown(item.title, item.data)
					else
						.nav__item
							a.nav__link(href=item.href)= item.title
			.menu
				.menu__item.menu__item--about
					+icon('question', true).icon.icon__question
					span.menu__title О Сервисе
				.menu__item
					#cart-navbar.Cart
				.menu__item.menu__item--login
					span.menu__title Войти
				.menu__item.menu__item--choose-city
					span.menu__title Выбор города
				.menu__item.menu__item--burger
					+icon('burger', true).icon.icon__burger#sidebar-toggle-fixed
				a.menu__item.menu__item--phone(href='tel: +78121339999')
					+icon('phone', true).icon.icon__phone
					span.menu__title.menu__title--phone
						| +7 (812) 133-99-99
	.wrap
		.header__top
			a.logo(href="/") Domoos
			.menu
				.menu__item.menu__item--about
					+icon('question', true).icon.icon__question
					span.menu__title О Сервисе

				.menu__item.menu__item--cart
					#cart.Cart
				a.menu__item(href='tel: +78121339999')
					+icon('phone', true).icon.icon__phone
					span.menu__title.menu__title--phone
						| +7 (812) 133-99-99
				.menu__item.menu__item--burger
					+icon('burger', true).icon.icon__burger#sidebar-toggle

		.header__bottom
			a.to-home(href="/")
				+icon('home', true).icon.icon__home
			.nav
				each item in navigation
					if item.isDropdown
						+dropdown(item.title, item.data)
					else
						a.nav__link(href=item.href target="_blank" rel="nofollow noopener")= item.title
			include ../developer-ad/developer-ad

		.header__content

			if isHome

				h1.header__title
					| Domoos — открывая Россию
				div.header__description
					| Добро пожаловать на крупнейший портал о недвижимости в России. На сайте собраны тысячи новостроек от самых надежных строительных компаний. Мы не продаем квартиры и не зарабатываем на скрытых комиссия, но помогаем найти подходящего застройщика и связаться с ними прямо на сайте.
					span  С Domoos вся страна как на ладони - воспользуйтесь удобным поиском по сайту прямо сейчас.

			if isСities

				a.to-home-screen(href="#") На главную

				h1.header__title
					| Все города России на Domoos
				div.header__description
					| Санкт-Петербург — один из самых красивых городов Европы, культурная столица России, а также важнейший экономический и транспортный центр страны с населением более 5 миллионов человек.

				div.header__zhk
					div.header__zhk-image
						img(src="images/pik.png", alt="")
					div.header__zhk-info
						p.header__zhk-title ЖК «Орловский парк»
						p.header__zhk-description Старт продаж нового жилого комплекса от надежного застройщика
						div.header__zhk-row
							a.header__zhk-btn(href="#") Узнать цены
							p.header__zhk-plain Предложение от «ПИК группа»


			if isHome
				.header__city-select
					.city-select
						label.city-select__title(for="header-city-select-input") Подберите новостройку в нужном городе
							span Выберите город
						.city-select__content#header-city-select

			//- if isСities
			//- 	.header__cta
			//- 		a.btn.btn__full.btn__full--yellow Заказать подбор квартиры
