.BuildingModal {
	padding: 70px 45px;
	display: flex;
	width: 100%;
	height: 100%;
	block();

	+below($tablet) {
		padding: 30px;

		.default-close {
			top: 10px;
			right: 10px;
		}
	}

	+below($phones) {
		padding: 30px 20px 20px;
	}

	.wrap {
		padding: 0;

		// display: flex;
		+below($mobile) {
			display: block;
			overflow: visible;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% - 370px);
		align-content: flex-start;

		+below($tablet) {
			width: 100%;
		}

		+below($phones) {
			width: 100%;
		}
	}

	&__side {
		position: relative;
		padding-right: 0;
		padding-left: 45px;
		// margin-left: 2%
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		width: 38%;
		min-width: 370px;

		+below($tablet) {
			padding-left: 20px;
			width: 37%;
			min-width: 260px;
		}

		+below($phones) {
			padding: 0;
			width: 100%;
		}
	}

	&__info {
		position: relative;
		margin-bottom: 30px;
		padding: 0;
		padding-right: 50px;
		display: flex;
		flex-wrap: wrap;
		width: auto;
		white-space: nowrap;

		+below($phones) {
			margin-bottom: 15px;
		}

		.name {
			h2();
			margin-bottom: 5px;
			width: 100%;
			font-weight: 400;

			+below($tablet) {
				width: auto;
			}

			+below($phones) {
				font-weight: 600;
			}
		}

		.subway {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 1.4rem;
			line-height: 1.6;
			color: var(--title-color);

			+below($phones) {
				display: none;
			}

			&:before {
				pseudo();
				margin-right: 8px;
				width: 20px;
				min-width: 20px;
				height: 20px;
				min-height: 20px;
				background: url('../../images/metro.svg') center center no-repeat;
				border-radius: 50%;
			}
		}
	}

	&__developer {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		height: 77px;
		justify-content: space-between;

		+below($tablet) {
			width: 100%;
		}

		+below($phones) {
			display: none;
		}

		.info {
			margin-right: 25px;

			+below($tablet) {
				margin-left: auto;
			}

			.title {
				margin-bottom: 10px;
				font-size: 1.4rem;
				line-height: 1em;

				+below($tablet) {
					font-size: 1.2rem;
				}
			}

			.name {
				font-size: 1.4rem;
				font-weight: 700;
				line-height: 1em;
				color: var(--title-color);
			}
		}

		.logo {
			margin-right: 25px;
			display: block;
			width: 100px;
			height: 50px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;

			+below($tablet) {
				display: none;
			}
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;

		+below($phones) {
			flex-direction: column;
		}
	}

	&__phone {
		display: block;

		+below($phones) {
			display: none;
		}

		a {
			padding: 19px 25px 15px;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 1em;
			white-space: nowrap;
			color: var(--title-color);
			border: 1px solid var(--border-color);

			+below($tablet) {
				padding: 19px 20px 15px;
				font-size: 1.4rem;
			}
		}
	}

	.featured {
		overflow: hidden;
		max-width: 720px;
		max-height: 480px;
		justify-content: center;

		+below($phones) {
			margin: 0 -20px;
			display: block;
			width: calc(100% + 40px);
			max-width: 200%;
			max-height: 434px;
		}

		&__image {
			margin-bottom: 15px;
			width: auto;
			height: 100%;

			+below($tablet) {
				width: 100%;
				height: auto;
			}
		}

		.subway {
			position: relative;
			display: flex;
			display: none;
			align-items: center;
			font-size: 1.1rem;
			line-height: 1.6;
			color: var(--title-color);

			+below($phones) {
				margin-left: 20px;
				display: block;
			}

			&:before {
				pseudo();
				margin-right: 8px;
				margin-bottom: -5px;
				width: 18px;
				min-width: 18px;
				height: 18px;
				min-height: 18px;
				border: 1.5px solid var(--red);
				border-radius: 50%;

				+below($tablet) {
					width: 18px;
					height: 18px;
				}
			}

			&:after {
				position: absolute;
				top: 13px;
				left: 7px;
				height: 0;
				font-size: 1rem;
				font-weight: 500;
				line-height: 0;
				content: 'M';
				color: var(--red);

				+below($tablet) {
					top: 17px;
				}

				+below($phones) {
					top: 11px;
					left: 6px;
				}
			}
		}
	}

	.tabs {
		display: flex;
		flex-wrap: wrap;

		.labels {
			margin-bottom: 33px;
			display: flex;
			width: 100%;
			height: 33px;
			border-bottom: 1px solid var(--border-color);
			justify-content: flex-start;

			+below($phones) {
				display: none;
			}

			&__item {
				position: relative;
				padding-right: 35px;
				padding-bottom: 10px;
				font-size: 1.4rem;
				white-space: nowrap;
				cursor: pointer;

				+below($tablet) {
					padding-right: 15px;
					font-size: 1.2rem;
				}

				&:last-child {
					padding-right: 0;
				}

				&:before {
					pseudo();
					position: absolute;
					left: 0;
					bottom: 0;
					width: calc(100% - 40px);
					height: 2px;
					background-color: var(--blue);
					opacity: 0;
					t();
				}

				&.active {
					color: var(--blue);

					&:before {
						opacity: 1;
					}
				}
			}
		}

		.content {
			margin-top: 0;
			margin-bottom: auto;

			// min-height: 250px;
			+below($phones) {
				margin-top: 15px;
			}

			&__title {
				h4();
				margin-bottom: 12px;
				display: block;
				font-weight: 500;

				+below($tablet) {
					font-size: 1.4rem;
				}

				+below($phones) {
					display: none;
				}
			}

			&__list {
				bulls();
				padding-left: 3px;
				font-size: 14px;

				+below($phones) {
					font-size: 12px;
				}

				li {
					padding: 10px 0;

					+below($phones) {
						padding: 7px 0;
					}

					&:before {
						top: 0;
						margin-right: 15px;

						+below($tablet) {
							margin-right: 10px;
						}

						+below($phones) {
							margin-right: 10px;
						}
					}

					&.no-bullet {
						&::before {
							display: none;
						}
					}
				}

				.title {
					font-weight: 500;
					color: var(--title-color);
				}

				.value {
					font-weight: 300;
					color: #7B7B7D;
				}

				&--row {
					margin-right: -10px;
					margin-left: -10px;
					display: flex;
					flex-wrap: wrap;

					li {
						padding-right: 10px;
						padding-left: 10px;
						width: 50%;
						min-width: 1px;
						max-width: 100%;
						min-height: 0;
						flex: 0 0 50%;

						.title {
							font-size: 12px;
							font-weight: 300;
							color: #7B7B7D;
						}
					}
				}
			}

			&__cta {
				margin: 10px 0;

				.link {
					&:after {
						arrow(2px, 1px, var(--arrow-color), 45deg);
						margin-left: 8px;
					}
				}
			}
		}
	}

	&__contact {
		position: relative;
		margin-top: auto;

		// position: absolute;
		// bottom: 42px;
		+below($tablet) {
			// position: absolute;
			// bottom: 13px;
		}

		.PhoneForm {
			margin-top: 10px;
			padding-top: 20px;
			border-top: 1px solid var(--border-color);

			+below($phones) {
				margin-top: 15px;
				padding-top: 0;
				border: none;

				.btn {
					margin-top: 0;
				}
			}

			.btn {
				cursor: pointer;
			}

			.PhoneForm__content {
				display: flex;

				+below($tablet) {
					display: none;
				}
			}

			.PhoneForm__form {
				display: none;

				+below($tablet) {
					display: block;

					.btn {
						margin-left: 0;
						width: 100%;
					}
				}
			}

			&__input {
				min-width: auto;
				max-width: 171px;
			}

			&__submit {
				padding: 0 25px;
				line-height: 52px;
			}
		}
	}
}
