.about-cities {
	.wrap {
		position: relative;

		+below(1268px) {
			overflow: hidden;
		}

		+below($tablet) {
			padding-bottom: 0;
		}
	}

	&__header {
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&__title {
		h2();
		margin-bottom: 7px;
		width: 100%;
		font-family: 'Gotham Pro Medium';

		+above($phones) {
			font-size: 2.8rem;
		}

		+below($phones) {
			margin-bottom: 5px;
		}
	}

	&__description {
		text();
		display: block;
		max-width: 630px;

		+below($phones) {
			display: none;
		}
	}

	.to-category-link {
		position: absolute;
		top: 89px;
		right: 30px;
		margin-top: auto;
		margin-right: 0;
		margin-left: auto;
		font-size: 1.6rem;
		line-height: 1em;

		&:after {
			arrow(2px, 1px, var(--arrow-color), 45deg);
			margin-left: 12px;
		}

		+below($tablet) {
			position: static;
			padding-left: 13px;
		}

		+below($phones) {
			margin-right: auto;
			padding-left: 15px;
			font-size: 1.4rem;
		}
	}

	&__slider {
		position: relative;
		margin: 25px 0 70px;
		padding: 0 15px;

		.slick-slide {
			position: relative;
			left: 0;
			padding: 0;
		}

		+below($tablet) {
			margin-bottom: 40px;
		}

		+below($phones) {
			margin: 20px 0 24px;
			padding: 0 0 0 5px;
		}

		.city {
			position: relative;
			margin: 0 15px;
			overflow: hidden;

			+below($phones) {
				margin: 0 10px;
			}

			&:hover {
				.city__img {
					// background-size: cover;
					transform: rotate(1deg) scale(1.1);
				}
			}

			&:before {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
				content: '';
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .46) 100%);
			}

			&__img {
				width: 100%;
				min-height: 250px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: .4s;

				+below($phones) {
					min-height: 278px;
				}
			}

			&__name {
				position: absolute;
				z-index: 2;
				left: 18px;
				bottom: 20px;
				font-size: 1.8rem;
				font-weight: 500;
				line-height: 1em;
				color: #fff;

				+below($phones) {
					left: 16px;
					bottom: 15px;
					font-size: 1.6rem;
				}
			}

			&__description {
				display: none;
			}
		}
	}

	.slick-slider {
		+below($phones) {
			left: 0;
			overflow: visible;
			width: 77.7%;
		}
	}

	.slick-list {
		+below($phones) {
			overflow: visible;
		}
	}

	.slick-arrow.slick-prev {
		left: -31px;
	}

	.slick-arrow.slick-next {
		right: -31px;
	}
}
