- var cities = [];
- cities.push({name: 'Санкт-Петербург', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-2.jpg'})
- cities.push({name: 'Москва', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-3.jpg'})
- cities.push({name: 'Нижний Новгород', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-1.jpg'})
- cities.push({name: 'Минск', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-1.jpg'})
- cities.push({name: 'Омск', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-2.jpg'})
- cities.push({name: 'Санкт-Петербур5', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-3.jpg'})
- cities.push({name: 'Санкт-Петербург6', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-1.jpg'})
- cities.push({name: 'Санкт-Петербург7', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-2.jpg'})
- cities.push({name: 'Санкт-Петербург8', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-3.jpg'})
- cities.push({name: 'Санкт-Петербург9', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-1.jpg'})
- cities.push({name: 'Санкт-Петербург10', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-2.jpg'})
- cities.push({name: 'Санкт-Петербург11', description: 'В каталоге сайта собраны все города России, в каталоге сайта собраны все города России.', img: '/images/city-3.jpg'})


section.about-cities
	.wrap
		.about-cities__header
			.about-cities__title Мы работаем в 45 регионах России
			.about-cities__description Наша цель собрать абсолютно все города нашей страны в единый цифровой каталог недвижимости. Выбирайте, сравнивайте, изучайте с удовольствием на Domoos.ru
		.about-cities__slider
			+citySlider('cities', cities)
		a.to-category-link(href="/goroda") Все города
