.CountryMap {
	width: 100%;
	min-height: 100vh;

	&.CityMap {
		position: relative;
		height: 100%;
		min-height: 690px;
		max-height: 690px;

		.sidebar {
			position: absolute;
			top: 30px;
			right: 30px;
			height: 100%;
			max-height: calc(100% - 60px);

			+below($phones) {
				top: auto;
				right: 0;
				left: 0;
				bottom: -80px;
				margin: 0 auto;
				width: calc(100% - 30px);
				max-width: 400px;
				height: auto;
				min-height: 1px !important;
			}

			&__header {
				margin-top: 25px;

				+below($phones) {
					margin-top: 0;
					padding-top: 20px;
				}
			}

			.city__link {
				margin-bottom: auto;
				margin-left: auto;
				padding-left: 15px;
			}

			+below($phones) {
				margin-bottom: 40px;
				min-height: 560px;
				max-height: 560px;
			}

			&__close {
				+below($phones) {
					position: absolute;
					top: 10px;
					right: 10px;
					display: block;
				}
			}

			.city {
				&__link {
					position: absolute;
					top: 20px;
					right: 20px;
					margin-bottom: 0;

					+below($phones) {
						position: absolute;
						top: auto;
						left: 0;
						bottom: 10px;
						order: 4;
					}
				}

				&__neighbors {
					.title {
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}

				&__description {
					+below($phones) {
						display: none;
					}
				}
			}
		}
	}

	.gm-fullscreen-control {
		display: none;
	}

	.filter {
		position: absolute;
		z-index: 1000;
		top: 30px;
		left: 30px;
		padding: 30px 0;
		width: 100%;
		max-width: 350px;
		height: auto;
		max-height: calc(100vh - 186px);
		block();

		+below($tablet) {
			display: none;
		}

		&__title {
			h4();
			margin-bottom: 10px;
			padding: 0 30px;
		}

		&__content {
			margin-bottom: 20px;
			padding: 0 30px;
			display: flex;
			flex-wrap: wrap;
			font-size: 1.3rem;
			line-height: 1.7;
			color: #7b7b7c;
		}

		&__list {
			padding: 0 0 0 30px;
			display: flex;
			flex-wrap: wrap;
		}

		&__item {
			margin-right: 15px;
			margin-bottom: 15px;
			padding: 15px 15px 12px;
			font-size: 1.2rem;
			line-height: 1em;
			// text-transform: capitalize;
			cursor: pointer;
			border: 1px solid var(--border-color);

			&.selected {
				color: #fff;
				background-color: var(--blue);
				border: 1px solid var(--blue);
			}
		}
	}

	.sidebar {
		position: relative;
		z-index: 7000;
		top: 0;
		right: 0;
		margin-left: auto;
		padding: 15px 30px 30px;
		width: 100%;
		max-width: 360px;
		// max-height: calc(100vh - 126px);
		order: 2;
		block();

		+below($phones) {
			position: absolute;
			top: auto;
			bottom: 0;
			padding: 10px 15px 15px;
			display: flex;
			flex-direction: column;
			max-width: 100%;
			height: auto;
			min-height: 1px;
		}

		&__header {
			margin-bottom: 15px;
			display: flex;

			+below($phones) {
				margin-bottom: 2px;
			}
		}

		&__close {
			cross();
			margin-left: auto;
			width: 25px;
			height: 25px;
		}

		.city {
			&__img {
				margin-bottom: 10px;
				width: 300px;
				height: 186px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;

				+below($phones) {
					display: none;
				}
			}

			&__link {
				margin-bottom: 10px;
				font-size: 1.4rem;
				font-weight: 300;

				&:after {
					arrow(1.5px, 1px, var(--arrow-color), 45deg);
					top: -1px;
					margin-left: 6px;
				}

				+below($phones) {
					order: 4;
				}
			}

			&__name {
				h5();
				font-weight: 500;
			}

			&__description {
				margin-bottom: 15px;
				font-size: 1.2rem;
			}

			&__ratings {
				margin-bottom: 10px;
				display: flex;
				flex-wrap: wrap;

				.rating {
					margin-bottom: 15px;
					width: 50%;

					&__title {
						margin-bottom: 0;
						font-size: 12px;
						font-weight: 300;
						color: var(--title-color);
					}
				}

				span {
					margin-right: 4px;
				}

				+below($phones) {
					display: none;
				}
			}

			&__options {
				bulls();
				margin-bottom: 20px;

				.option {
					margin-bottom: 17px;
					font-size: 1.4rem;

					&:before {
						margin-right: 12px;
						margin-left: 4px;
					}

					&__title {
						margin-right: 5px;
						color: var(--title-color);
					}

					&__value {
						color: var(--text-color);
					}
				}

				+below($phones) {
					.option{
						&:nth-child(2),&:nth-child(4),&:nth-child(5){
							display: none;
						}
					}
					// display: none;
				}
			}

			&__neighbors {
				margin-bottom: 25px;
				padding-bottom: 25px;
				border-bottom: 1px solid var(--border-color);

				+below($phones) {
					padding-bottom: 0;
					border-bottom: none;
				}

				.title {
					margin-bottom: 5px;
					width: 100%;
					font-size: 1.2rem;
				}

				.content {
					width: 100%;
					font-size: 1.4rem;
					color: var(--title-color);
				}
			}
		}
	}

	.bull {
		position: absolute;
		z-index: 1001;
		top: -27px;
		left: -12px;
		margin-top: 1px;
		margin-right: 12px;
		display: block;
		width: 25px;
		height: 25px;
		cursor: pointer;
		background: url('/images/bull.png');
		background-image: url('/images/bull-blue@2x.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		opacity: 1;
		transition: .2s;
		t();

		&:focus, &.is-active {
			z-index: 2000;
			background: url('/images/bull.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			opacity: 1;
			transform: scale(1.3);
		}

		&:hover {
			opacity: 1;
			transform: scale(1.3);
		}
	}
}
