- var developersList = [];
- developersList.push({name: 'СтройАльянс', img: '/images/isk-algoritm.png', features: [12900000, 12]})
- developersList.push({name: 'СтройАльянс', img: '/images/stroitelnyj-kamen.png', features: [12900000, 12]})
- developersList.push({name: 'СтройАльянс', img: '/images/votetodom.png', features: [12900000, 12]})
- developersList.push({name: 'СтройАльянс', img: '/images/isk-algoritm.png', features: [12900000, 12]})
- developersList.push({name: 'СтройАльянс', img: '/images/stroitelnyj-kamen.png', features: [12900000, 12]})
- developersList.push({name: 'СтройАльянс', img: '/images/votetodom.png', features: [12900000, 12]})

section.all-developers
	.wrap
		.all-developers__header
			.all-developers__header-title Все строительные компании Петербурга
		.all-developers__list
			each item in developersList
				.developer
					a.developer__image-container(href="#")
						.developer__image(style={'background-image': 'url("#{item.img}")'})
					a.developer__name(href="#") СтройАльянс
					.developer__features
						.feature
							.feature-label Квартиры от:
							.feature-value #{item.features[0]} ₽
						.feature
							.feature-label Построено:
							.feature-value #{item.features[1]} объектов

