.CallbackModal {
	margin: auto;
	width: 100%;
	max-width: 610px;
	block();
	max-height: 520px;

	+below($phones) {
		max-height: 100%;
	}

	&__wrapper {
		position: relative;
		padding: 80px 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;

		+below($phones) {
			padding: 30px 15px;
		}
	}

	.default-close {
		top: 35px;
		right: 25px;

		+below($phones) {
			top: 10px;
			right: 10px;
		}
	}

	&__title {
		margin-bottom: 25px;
		width: 100%;
		font-size: 2.6rem;
		font-weight: 400;
		font-weight: 500;
		text-align: center;
		color: var(--title-color);

		+below($phones) {
			margin-bottom: 20px;
		}
	}

	&__content {
		margin: 0 auto;
		margin-bottom: 55px;
		padding: 0 15px;
		width: 100%;
		font-weight: 300;
		text-align: center;

		p {
			margin: 0 auto;
			max-width: 500px;
			font-size: 1.6rem;
			line-height: 2;

			+below($phones) {
				padding: 0;
				font-size: 1.4rem;
				line-height: 1.6;
			}
		}

		+below($phones) {
			margin-bottom: 25px;
		}
	}

	&__form {
		margin: 0 auto;
		width: 100%;
		max-width: 380px;

		.PhoneForm {
			&__form {
				+below($phones) {
					display: none;
				}
			}

			&__content {
				flex-wrap: wrap;

				+below($phones) {
					display: flex;
				}
			}

			&__input, &__submit {
				width: 100%;
			}

			&__submit {
				margin-top: 25px;
				margin-left: 0;
				line-height: 50px;
			}
		}
	}
}
