- var cities = ['Москва', 'Санкт-Петербург', 'Барнаул', 'Киров', 'Краснодар', 'Пермь', 'Москва', 'Санкт-Петербург', 'Барнаул', 'Киров', 'Краснодар', 'Кириши', 'Москва', 'Санкт-Петербург', 'Барнаул', 'Киров', 'Краснодар'];

section.selection
	.wrap
		p.selection__title Не нашли что искали?
		p.selection__text Закажите подбор квартиры
		a.btn.btn__full(href="#") Заказать подбор

section.footer
	.wrap
		.footer__cities
			.cities
				.cities__title
					| Все города:
				.cities__list
					each item in cities
						a.cities__item(href="/")= item
		.footer__content
			.about
				.about__title Domoos - ЭТО
				.about__description Cамый большая и детально проработанная база квартир в новостройках России
			.links
				a.links__link(href="/") Каталог городов
				a.links__link(href="/") Каталог новостроек
				a.links__link(href="/") Статьи
			.addition
				a.hotcall__phone(href="tel:+78126159251") +7 (812) 615-92-51
				a.addition__link(href="/") Юридическая информация
				a.addition__link(href="/") Политика конфиденциальности
				a.addition__link(href="/") Карта сайта
				.socials
					a.socials__link(href="#")
						i.fab.fa-facebook-f
					a.socials__link(href="#")
						i.fab.fa-instagram
					a.socials__link(href="#")
						i.fab.fa-pinterest
					a.socials__link(href="#")
						i.fab.fa-twitter
			.contacts
				+hotcall('footer-form')
		.footer__nav
			.copy © ООО Домус. Все права защищены.


// modal triggers (demo)
// data-open-modal="modalName" (should match selector in react component)
a(href="#" data-open-modal="callback" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Звонок
a(href="#" data-open-modal="callbackpartner" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Звонок (партнерам)
a(href="#" data-open-modal="callbacksuccess" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Успех
a(href="#" data-open-modal="comment" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Комментарий
a(href="#" data-open-modal="assistance" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Заявка на подбор

a(href="#" data-open-modal="about" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - О сервисе
a(href="#" data-open-modal="cityselect" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Выбор города

a(href="#" data-open-modal="zhkadded" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Новостройка добавлена
a(href="#" data-open-modal="zhkremoved" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Новостройка удалена
a(href="#" data-open-modal="notification" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Оповещение
a(href="#" data-open-modal="info" style="display: inline-block; margin: 10px; font-size: 13px;") Открыть модальное - Инфо

// react modal renders
#callback-modal
#callback-partner-modal
#callback-success-modal
#assistance-request-modal
#comment-modal
#about-modal
#city-select-modal
#zhk-added-modal
#zhk-removed-modal
#notification-modal
#info-modal
