.footer {
	position: relative;
	z-index: 9000;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #373a45;

	+below($phones) {
		padding-top: 41px;
		padding-bottom: 18px;
	}

	&__cities {
		margin-bottom: 30px;
		padding: 0 15px;
		display: block;

		+below($phones) {
			display: none;
		}

		.cities {
			padding-bottom: 24px;
			border-bottom: 1px solid rgba(255, 255, 255, .1);

			&__title {
				margin-bottom: 30px;
				color: #fff;
			}

			&__content {
				display: flex;
				flex-wrap: wrap;
			}

			&__item {
				margin-bottom: 15px;
				width: 20%;
				font-size: 1.4rem;
				line-height: 1em;
				color: #fff;
				opacity: .4;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&__content {
		padding: 0 15px;
		display: flex;
		flex-wrap: nowrap;

		+below($phones) {
			padding: 0 15px;
			flex-wrap: wrap;
		}

		.about {
			padding-right: 50px;
			padding-bottom: 0;
			max-width: 340px;
			border-bottom: 1px solid rgba(255, 255, 255, 0);

			+below($tablet) {
				padding-right: 25px;
			}

			+below($phones) {
				padding-right: 0;
				padding-bottom: 31px;
				width: 100%;
				max-width: 100%;
				border-bottom: 1px solid rgba(255, 255, 255, .25);
			}

			&__title {
				margin-bottom: 15px;
				font-size: 1.8rem;
				font-weight: 500;
				color: #fff;

				+below($phones) {
					margin-bottom: 9px;
				}
			}

			&__description {
				font-size: 1.2rem;
				font-weight: 300;
				line-height: 1.6;
				color: rgba(255, 255, 255, .6);
			}
		}

		.links {
			padding-right: 50px;
			padding-bottom: 0;
			width: 100%;
			max-width: 236px;
			border-bottom: 1px solid rgba(255, 255, 255, 0);

			+below($tablet) {
				padding-right: 25px;
				max-width: 200px;
			}

			+below($phones) {
				padding-top: 23px;
				padding-bottom: 25px;
				max-width: 100%;
				border-bottom: 1px solid rgba(255, 255, 255, .25);
			}

			&__link {
				margin-bottom: 10px;
				width: 100%;
				font-size: 1.4rem;
				color: #fff;

				+below($phones) {
					margin-bottom: 16px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.addition {
			padding-right: 50px;
			padding-bottom: 0;
			max-width: 286px;
			border-bottom: 1px solid rgba(255, 255, 255, 0);

			+below($tablet) {
				padding-right: 0;
			}

			+below($phones) {
				padding-top: 23px;
				padding-bottom: 24px;
				width: 100%;
				max-width: 100%;
				border-bottom: none;
			}

			&__link {
				margin-bottom: 10px;
				width: 100%;
				font-size: 1.4rem;
				text-decoration: underline;
				color: rgba(255, 255, 255, .45);

				&:hover {
					color: #fff;
				}

				&:last-child {
					margin-bottom: 0;
				}

				+below($phones) {
					margin-bottom: 19px;
				}
			}

			.hotcall__phone {
				margin-top: 5px;
				margin-bottom: 15px;
				display: none;
				font-size: 1.8rem;
				font-weight: 500;
				color: #fff;

				+below($phones) {
					margin-bottom: 26px;
					display: block;
				}
			}

			.socials {
				margin-right: -30px;
				width: calc(100% + 30px);

				a {
					margin: 5px 20px 5px 0;
					padding: 8px;
					display: inline-block;
					width: 100%;
					max-width: 36px;
					line-height: 1;
					text-align: center;
					border: 2px solid rgba(255, 255, 255, .45);

					&:last-child {
						margin-right: 0;
					}

					&:hover {
						border-color: #fff;

						i {
							color: #fff;
						}
					}

					i {
						font-size: 14px;
						line-height: 1;
						color: rgba(255, 255, 255, .45);
					}
				}
			}
		}

		.contacts {
			padding-bottom: 0;
			width: auto;

			+below($phones) {
				padding-top: 20px;
				padding-bottom: 20px;
				width: 100%;
			}

			+below($tablet) {
				display: none;
			}

			.hotcall {
				padding-top: 4px;
				width: 100%;
				max-width: 326px;

				&__popup-form {
					display: none;
				}

				&__title {
					&--number {
						display: none;
					}

					&--form {
						font-size: 1.2rem;
						color: rgba(255, 255, 255, .45);
					}
				}

				&__phone {
					font-size: 1.8rem;
					font-weight: 500;
					color: #fff;
				}

				&__input {
					font-size: 1.4rem;
					color: #fff;
					background-color: transparent;
					border: 1px solid rgba(255, 255, 255, .45);
					t();

					&:focus {
						border: 1px solid rgba(255, 255, 255, .75);
					}
				}

				&__submit {
					margin-left: -1px;
					padding: 2px 20px 0;
					font-size: 1.4rem;
					color: #fff;
					background-color: transparent;
					border: 1px solid rgba(255, 255, 255, .45);

					&:hover {
						color: var(--title-color);
						background-color: #eeeeee;
					}
				}
			}
		}
	}

	&__nav {
		padding: 0 15px;

		+below($tablet) {
			margin-top: 15px;
		}

		+below($phones) {
			margin-top: 0;
			padding: 0 15px;
		}

		.copy {
			font-size: 1.4rem;
			line-height: 1em;
			color: rgba(255, 255, 255, .45);
		}
	}
}
