.city-explorer {
	margin-top: 75px;
	display: flex;

	.wrap {
		+below($notebooks) {
			padding: 0 30px;
		}

		+below($phones) {
			padding: 0 15px;
		}
	}

	+below($phones) {
		margin-top: 0;
	}

	&__title {
		margin-bottom: 35px;
		font-size: 2.5rem;
		font-weight: 500;
		color: var(--title-color);

		+below($phones) {
			margin-bottom: 25px;
			font-size: 2rem;
		}
	}

	&__block {
		wrap-pad();
		padding: 78px 55px;
		block();

		+below($tablet) {
			padding: 50px 25px;
		}

		+below($phones) {
			padding: 13px 0 45px;
			box-shadow: none;
		}
	}
}
