section.your-opinion
	.wrap
		.your-opinion__content
			.your-opinion__title Оставьте свое мнение о&nbsp;вашем городе
			img.your-opinion__image(src='/images/your-opinion@2x.png')
			.your-opinion__cta
				a.btn.btn__full.btn__full--yellow(href='#') Оставить свое мнение
