.all-cities {
	padding: 30px 0;

	+below($phones) {
		padding: 30px 0 0;
	}

	&__header {
		margin-bottom: 22px;
		padding-left: 15px;
		// display: flex;
		// flex-wrap: wrap;
		// align-items: flex-end;
		width: 66%;
		max-width: 749px;

		+below($tablet) {
			padding-right: 15px;
			width: 100%;
			max-width: 100%;
		}

		+below($phones) {
			margin-bottom: 20px;
			padding: 0 15px;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;

		+below($phones) {
			padding: 0 15px;
		}
	}

	&__btn {
		display: none;
		width: 100%;

		// +below($phones) {
		// display: block;
		// }
		.btn {
			padding-top: 3px;
			display: flex;
			align-items: center;
			width: 100%;
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 50px;
			color: var(--title-color);
			justify-content: center;

			.btn-icon {
				height: 46px;
			}

			.icon__filter {
				margin-right: 15px;
				width: 18px;
				height: 12px;
			}
		}
	}

	&__options {
		margin-top: 25px;
	}

	&__map {
		position: relative;
		padding-left: 20px;
		font-size: 14px;
		border-left: 1px solid var(--text-color);

		+below($phones) {
			display: none;
		}

		&:after {
			arrow(2px, 1px, var(--blue), 45deg);
			margin-bottom: 3px;
			margin-left: 13px;
			opacity: .8;

			+above($phones) {
				top: 4px;
			}
		}
	}

	.dropdown {
		&__handler {
			margin-right: 20px;
			font-size: 14px;
			color: var(--text-color);
			background-color: transparent;

			+below($tablet) {
				margin-right: 22px;
			}

			+below($phones) {
				font-size: 14px;
			}

			&:hover {
				color: var(--text-color);
			}

			&:after {
				arrow(2px, 1px, var(--text-color), 135deg);
				top: 1px;
				margin-bottom: 3px;
				margin-left: 13px;
				opacity: .8;

				+above($phones) {
					top: 1px;
				}

				+below($tablet) {
					top: 1px;
					right: 5px;
				}
			}
		}

		&__menu {
			top: 20px;
			left: 103px;
			padding: 14px 20px;
			min-width: 200px;
			background-color: #fff;
			box-shadow: 0 2px 5px 0 rgba(140, 140, 140, .3);

			+below($phones) {
				left: 60px;
			}
		}

		&__link {
			width: 100%;
			font-size: 1.4rem;
			line-height: 3.6rem;
			color: var(--text-color);

			&:hover {
				color: var(--blue);
			}
		}
	}

	&__title {
		h3();
		display: block;
	}

	&__see-map {
		margin-left: auto;
		display: flex;
		align-items: center;
		font-size: 14px;
		text-transform: uppercase;
		color: #9A9EAC;

		+below($phones) {
			display: none;
		}

		.icon__pin {
			margin-right: 15px;
			width: 23px;
			height: 23px;
		}
	}

	&__description {
		text();
		display: none;
		max-width: 630px;
		line-height: 1em;

		&.desk, &.ask {
			&:after {
				position: relative;
				margin-left: 15px;
			}
		}

		&.desk {
			&:after {
				arrow(2px, 1px, var(--gray), 315deg);
			}
		}

		&.ask {
			&:after {
				arrow(2px, 1px, var(--gray), 135deg);
				top: -2px;
			}
		}
	}

	&__list {
		padding-left: 15px;
		display: flex;
		flex-wrap: wrap;
		width: 66%;
		max-width: 780px;
		order: 1;
		justify-content: space-between;

		+below($phones) {
			padding: 8px 0;
			width: 100%;
			max-width: 100%;
			order: 2;
		}

		.city {
			margin-bottom: 19px;
			width: 48%;

			+below($phones) {
				width: 100%;
			}

			&__img-container {
				margin-bottom: 15px;
				display: block;
				overflow: hidden;
				cursor: pointer;

				&:hover {
					.city__img {
						transform: rotate(1deg) scale(1.1);
					}
				}
			}

			&__img {
				width: 100%;
				max-width: 360px;
				min-height: 250px;
				background-repeat: no-repeat;
				background-size: cover;
				transition: .4s;

				+below($phones) {
					min-height: 175px;
					max-height: 175px;
					background-position: center;
				}
			}

			&__name {
				h5();
				margin-bottom: 4px;
				font-weight: 500;
				color: var(--blue);

				&:hover {
					color: var(--blue--hover);
				}
			}

			&__description {
				margin-bottom: 10px;
				min-height: 68px;
				font-size: 1.2rem;
				line-height: 1.6;

				+below($phones) {
					min-height: 1px;
					line-height: 1.7;
				}
			}

			&__features {
				font-size: 1.2rem;
				line-height: 1.6;

				.features {
					&__item {
						margin-bottom: 10px;
					}
				}

				.icon {
					margin-right: 10px;
					margin-bottom: -4px;

					&__people {
						svgSize($people);
					}

					&__buildings {
						svgSize($three-buildings);
					}

					&__rouble {
						svgSize($rouble);
					}
				}
			}

			&__tags {
				display: none;
			}
		}
	}

	&__sidebar {
		margin-bottom: 35px;
		margin-left: auto;
		padding-right: 15px;
		display: block;
		width: 32%;
		order: 2;

		+below($phones) {
			padding: 0;
			width: 100%;
			max-width: 100%;
			order: 1;
		}

		&.open {
			display: block;
		}
	}
}

.city-filter {
	padding: 35px 0 15px 24px;
	width: 100%;
	border: 1px solid var(--border-color);

	+below($tablet) {
		padding: 30px 0 15px 20px;
	}

	+below($phones) {
		padding: 20px 0 5px 15px;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 1.8rem;
		line-height: 1em;
		color: var(--title-color);
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-right: 15px;
		margin-bottom: 15px;
		padding: 14px 25px 13px;
		width: auto;
		font-size: 14px;
		line-height: 1em;
		// text-transform: capitalize;
		cursor: pointer;
		border: 1px solid var(--border-color);

		+below($tablet) {
			padding: 14px 15px 13px;
		}

		+below($phones) {
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 10px 12px;
			font-size: 14px;
		}

		&.selected {
			color: #fff;
			background-color: var(--blue);
			border: 1px solid var(--blue);
		}
	}
}

.city {
	&__banner {
		margin-top: 30px;
		padding: 25px;
		background: url('/images/bg-banner.jpg') center center no-repeat;
		background-size: cover;

		+below($tablet) {
			padding: 0;
		}

		+below($phones) {
			display: none;
		}

		&-content {
			padding: 50px 10px 25px 25px;
			width: 100%;
			border: 1px solid #fff;

			p {
				color: #fff;
				border: none;
			}

			+below($tablet) {
				padding: 30px 10px 20px 20px;
			}
		}

		&-title {
			font-size: 18px;
			font-weight: 500;
		}

		&-from {
			margin-top: 10px;
			font-size: 14px;
			font-weight: 400;
		}

		&-price {
			font-size: 36px;
			font-weight: 500;
			line-height: 1.4;

			+below($tablet) {
				font-size: 24px;
			}
		}

		&-list {
			margin-top: 29px;
			margin-left: 0;
			min-height: 170px;
			bulls();

			+below($tablet) {
				min-height: 1px;
			}

			li {
				margin-bottom: 18px;
				display: block;
				width: 100%;
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				color: #fff;

				&:before {
					top: 0;
					width: 10px;
					height: 10px;
					background-color: rgba(255, 255, 255, .5);
				}
			}
		}

		&-phone {
			margin-top: 25px;
			display: inline-block;
			font-size: 24px;
			font-weight: 500;
			white-space: nowrap;
			color: #fff;

			+below($tablet) {
				font-size: 18px;
			}
		}
	}
}
